name        = ""
environment = ""
region      = ""
domain_name = ""

availability_zone = {
    ap-northeast-1a = "ap-northeast-1a"
    ap-northeast-1c = "ap-northeast-1c"
}

cidr_block  = {
    vpc = ""
    manage_1a  = ""
    manage_1c  = ""
    public_1a  = ""
    public_1c  = ""
    private_1a = ""
    private_1c = ""
}
